





body {
    font-family: 'Original Surfer',
    cursive;
    background-color: #f6c065;
}

footer {
    background-image: linear-gradient(to bottom, #09015f, #400162, #780066, #af0069);
    padding: 20px 0;
    color: white;
}



.jumbotron {
    margin: 0;
    padding: 25px;
    background-image: linear-gradient(to bottom, #09015f, #400162, #780066, #af0069);
    color: white;
}

.navbar {
    background-color: #af0069;
}

.carouselItem {
    margin: 20px;
}

.btn-success {
    background-color: #09015f;
}

.btn-primary {
    background-color: #af0069;
}

.btn-dark {
    background-color: #780066;
}

.row-striped:nth-of-type(odd) {
    background-color: #efefef;
    border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even) {
    background-color: #ffffff;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.fa {
   color: white;
}

#carouselDiv {
    padding: 20px;
    /* border: 20px #55b3b1 solid; */
}

#accordion .card {
    background-color: #55b3b1;
    color: white;
}


#groomingButton {
    background-color: #af0069;
}

#fosterCards {
    margin-top: 20px;
    padding: 25px;
    background-color: #55b3b1;
}

/* @media (max-width: 688px) {
    .carousel-item>img {
        max-height: 146px;
    }
} */